.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timer-controls {
  display: flex;
  justify-content: space-between;
  width: 30vw;
}

.timerButton {
  font-size: 3rem;
  border: none;
  outline: none;
  background-color: transparent;
  color: rgb(95, 95, 95);
  font-family: "Tilt Prism", cursive;
  transition: color 0.5s ease-in-out;
  cursor: pointer;
}

.timerButton.active {
  color: white;
}

.timer-input {
  font-size: 1rem;
  background-color: transparent;
  outline: none;
  border: none;
  max-width: 70vw;
  text-align: center;
  border-bottom: gray solid 1px;
  color:gray;
  transition: all 0.5s ease-in-out;
  font-family: 'Poppins', sans-serif;
}

.timer-input:focus {
  color: white;
  font-size: 3rem;
}

.timer-input::placeholder{
  color: grey;
  transition: color 0.5s ease;
  font-family: 'Poppins', sans-serif;
}

.timer-input:focus::placeholder{
  color: transparent;
}
